footer{
    color: #333232;
    background-color: #f6f6f6;
    padding-top: 45px;
    margin-top: 50px;
    .content{
        .nav{
        display: flex;
        justify-content: center;
        gap: 30px;
        a{
            font-size: 15px;
            font-weight: 400;
            color: #3a3a3a;
            line-height: 1.5;
            text-decoration: none;
            padding: 5px;
        }
        }
    }
    hr{ 
        border-bottom: 1px solid #dddddd;
    }
    .container{
        max-width: 1090px;
        text-align: right;
        padding: 15px 0 40px;
        font-size: .8em;
        color: #3a3a3a;
        @include mobile{
            margin-right: 30px;
        }
    }
}