/* stylelint-disable */

header{
    @include rem(padding, 20px);
    border-bottom: 2px solid #f7f7f7;

    .container{
        max-width: 1754px !important;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        @include mobile{
            display: none;
        }

        &>*:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &>*:nth-child(3) {
            display: flex;
            justify-content: right;
            align-items: center;
          }
        img{
            max-height: 49px;
            min-height: 49px;
            object-fit: cover;
        }
        a{
            text-decoration: none;
            color: #75536b;
            font-family: Roboto;
            @include rem(font-size, 15px);
            font-weight: 400;
            color: #3a3a3a;
            line-height: 1.5;
        }
        .nav{
            display: flex;
            gap: 15px;
            .current-menu-item{
                border-bottom: 1px solid #75536b;
            }
            .astm-search-menu{
                position: absolute;
                right: 0;
            }
        }
    }
    .search{
        img{
        width: 20px; 
        height: 20px;
        object-fit: contain;
        }
    }
}

.mobile-header{
    display: none;
    img{
        max-width: 70px;
    }
    @include mobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.menu-btn-1 {
    height: 32px;
    width: 40px;
    cursor: pointer;
}

    .menu-btn-1 span,
    .menu-btn-1 span::before,
    .menu-btn-1 span::after {
        background: red;
        border-radius: 3px;
        content: '';
        position: absolute;
        width: 40px;
        height: 6px;         
        margin-top: 13px; 

        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    .menu-btn-1 span::before {
        margin-top:-12px;
    }

    .menu-btn-1 span::after {
        margin-top:12px;
    }

    .menu-btn-1.active span {
        background: transparent;
    }

    .menu-btn-1.active span::before {
        margin-top: 0;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .menu-btn-1.active span::after {
        margin-top: 0;

        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
