.category-house {
  display: flex;
  flex-direction: column;
  align-content: center;
  h1{
    font-size: 30px;
    padding: 15px;
    text-align: center;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    a{
        text-decoration: none;
    }
    .card {
        box-shadow: 0px 0px 13px lightgray;
      img {
        max-width: 350px;
        min-height: 245px;
        max-height: 245px;
        width: 100%;
        object-fit: cover;
      }
      &_info{
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 45px; 
        min-height: 300px;
        max-width: 350px;
        width: 100%;
        box-sizing: border-box;   
        h2{
            font-size: 30px;
            color: #3d3d3d;
        }
      }
    }
  }
}
